#include "../include/Resources.h"

1	ICON	"..\\resources\\cinder_app_icon.ico"

RES_VERT_GLSL
RES_FRAG_GLSL
PHONG_VERT_GLSL
PHONG_FRAG_GLSL
WIREFRAME_VERT
WIREFRAME_FRAG
WIREFRAME_GEOM
PASSTHRU_VERT
BLEND_FRAG
UNNAMED
IMG01
IMG02
IMG03
IMG04
IMG05
IMG06
IMG07
IMG08
IMG09
IMG10
IMG11
IMG12
